@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@
<div class="grid">
    <h2>DEONSTAR HIGH SCHOOL</h2>
</div>
<div class="container Intro">
    <h3>We train future leaders. Enrol with us and learn form our qualified and professional teachers.</h3>
</div>
<div class="container marketing">
    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <svg width="140" height="100"></svg>
            <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em"></text>

            <h3>SCIENCE</h3>
            <p>
                Science education is the teaching and learning of science to non-scientists, The field of science education
                includes work in science content, science process (the scientific method).
            </p>
            <p><a class="btn btn-secondary" href="https://sciencecouncil.org/about-science/our-definition-of-science/" target="_blank">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
            <svg width="140" height="100"></svg>

            <h3>BUSINESS</h3>
            <p>During your business degree, you'll develop a broad knowledge of business operations as well as gaining targeted skills in your specific field, such as customers, markets, finance,strategy, business policy.</p>
            <p><a class="btn btn-secondary" href="https://www.academiccourses.com/Courses/Business-Studies/" target="_blank">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
            <svg width="140" height="100"></svg>


            <h3>GENERAL ART</h3>
            <p>And lastly this, the third column of representative placeholder content.</p>
            <p><a class="btn btn-secondary" href="http://www.academicinfo.net/subarts.html" target="_blank">View details &raquo;</a></p>
        </div>
    </div>
    <div class="row">
        <div class="art col-lg-4">
            <article>
                <section>
                    <img src="~/Images/sci.jpg" alt="A photo of our Science lab">
                    <p>
                        <h3>OUR SCEINCE laboratory </h3>
                        The science learning goals of laboratory experiences include enhancing mastery of science
                        subject matter, developing scientific reasoning abilities, increasing understanding
                        of the complexity and ambiguity of empirical work, developing practical skills,
                        increasing understanding of the nature of science.
                    </p>
                </section>
            </article>
        </div>
        <div class="art col-lg-4">
            <article>
                <section>
                    <img src="~/Images/boys.jpg" alt="A photo of our Girls dometry">
                    <p>
                        <h3>OUR GIRLS DOMETRY</h3>
                        Four girls in this one dorm room can get a little hectic some times.
                        There always seemed to be some type of tension between at least two of the roommates at all
                        times. This living arrangement could put a lot of stress on some college students
                        because of roommate problems.

                    </p>
                </section>
            </article>
        </div>

        <div class="art col-lg-4">
            <article>
                <section>
                    <img src="~/Images/girls.jpg" alt="A photo of our Boys dometry">
                    <p>
                        <h3>OUR BOYS DOMETRY</h3>
                        Boys hostel is a very lively place to be in. it is a place where students from far-off
                        places come to stay.The students live with each other in either single rooms or double
                        and triple sharing rooms.They stay together and learn the values of co-operation and
                        discipline. The hostel atmosphere is at times conducive to study and at times conducive
                        to entertainment and fun.
                    </p>
                </section>
            </article>
        </div>
    </div>
</div>
<div id="txt" style="display: none; border: 1px solid black; background-color: black; color: white; position: absolute;font-size: 12px; padding: 5px; border-radius: 5px;"></div>


